In [2]:
import pandas as pd

## 电影评分数据分析

In [7]:
links = pd.read_csv('./ml-latest-small/links.csv',encoding='utf-8')

In [8]:
movies = pd.read_csv('./ml-latest-small/movies.csv',encoding='utf-8')

In [9]:
ratings = pd.read_csv('./ml-latest-small/ratings.csv',encoding='utf-8')

In [10]:
tags = pd.read_csv('./ml-latest-small/tags.csv',encoding='utf-8')

In [25]:
links[:5]

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [20]:
movies[:5]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
ratings[:5]

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
tags[:5]

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

### 合并表

In [27]:
data = pd.merge(pd.merge(ratings,users),movies)

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed